@import '../../../styles/_variables';

.notFound {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.notFound__button {
  padding: 10px;
  border-radius: 10px;
  background-color: $color__gray;
  border: none;
  cursor: pointer;
  color: $color__black;
  font-size: 20px;
  font-weight: 500;

  &:hover {
    background-color: gray;
  }
}
