@import '../../../styles/_variables.scss';

.card {
  padding: 15px 25px;
  border: 1px solid $color__gray;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    background-color: $color__gray;
  }
}
