@import '../../../../../styles/_variables.scss';

.allLocations__header {
  padding-left: 30px;
  padding-top: 19px;
  padding-bottom: 21px;
  border-bottom: 1px solid $color__gray;
  display: flex;
  flex-direction: column;
}

.allLocations__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.273;
  color: $color__black;
  opacity: 0.8;
}

.allLocations__subTitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.75;
  opacity: 0.3;
}
